ul {
    list-style-type: none;
    padding: 0;
}

.gallery {
    width: 100%;
    min-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;

}

.gallery-item {}

.gallery-link {}

.gallery-image {
    width: 360px;
    height: 200px;
}